* {
    margin: 0;
    padding: 0;
    font-family:monospace;
    color:white;
    
}

body {
    background-color:rgb(41, 132, 160);
}
   
header {
    background-image: url("background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
    width: 100%;
    min-height: 350px;
    max-height: 500px;
    display: flex;
    align-items: center;
    height: 150px;
    margin: 0px;
}

header img.profile_pic {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 60%;
    margin: 0px;
    object-fit: cover;
    box-shadow: 0px 20px 30px hsla(0, 100%, 99%, 0.6);
}


header h1 {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    margin: 2px;
    font-size: 3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(176, 176, 29);
}

header nav {
    float: right;
}

.nav-bar {
    margin: 0px;
    padding: 10px;
    text-align: right;
}

.nav-content {
    display: inline-block;
    border-right: 1px solid black;

}

.nav-item {
    display: block;
    color: black;
    padding: 0px 50px;
    text-decoration: solid;
    font-size: 20px;
}

 main {
    margin: 25px;

 }

 main h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    float: left;
    padding-right: 10px;
    margin: 0px;
    width: 150px;
    text-align: right;
 }

 #about-me p {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    border-left: 3px solid var(--penny);
    padding-left: 50px;
    padding-right: 150px;
 }
 #professional-projects h2 {
    border-right: 3px solid var(--penny);
    height: 480px;
}
#professional-projects .large, .small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 150px;
    position: relative;
}

#contact-me ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border-left: 3px solid var(--penny);
    margin: 0px;
    height: 33px;
    padding-right: 150px;
    padding-left: 50px;
}

#contact-me a:link {
    text-decoration: none;
}
#contact-me li:hover {
    font-style: italic;
    font-weight: bold;
}

footer {
    height: 75px;
    margin: 0px;
    text-align: center;
}
footer h3 {
    display: inline-block;
    vertical-align: middle;
}